.home {
  overflow: hidden;
  background-color: lightgray;
  padding-bottom: 10px;
}

.home__banner {
  max-width: 90%;
  margin: 0 auto !important;
}

.home__body {
  max-width: 90%;
  margin: 0 auto !important;
}

.home__bannerImg {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.4)
  );
  margin-bottom: -150px;
  z-index: -1;
}

.home__row {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

@media screen and (min-width: 100px) and (max-width: 768px) {
  .home__banner {
    max-width: 100%;
    margin: 0 !important;
    height: 70vh;
  }
  .home__bannerImg {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .home__row {
    flex-direction: column;
  }
  .home__row:nth-child(1) {
    margin-top: -70px;
  }
}
